<div class="holiday_page">
    <div class="holiday_page_header">
        <div class="back">
            <span class="back_arrow" routerLink="/remotestate/login/screen">
                <img back_arrow src="../../../../assets/img_leave/Icon ionic-arrow-round-back.svg" alt="back">
            </span>
            <span class="leave_app">Holidays</span>
        </div>
        <div class="not_log_button">
            <button class="not_button" type="button">
                <img src="../../../../assets/img_leave/notification icon.svg" alt="notification" width="16px" height="20px">
            </button>
            <button class="log_button" type="button" routerLink="/remotestate/login">
                <img src="../../../../assets/img_leave/logout.svg" alt="logout" width="21px" height="21px">
            </button>
        </div>
    </div>
    <div class="holi_body_one">
        <div class="holiday_body_img"></div>
    </div>
    <div class="holi_body_two">
        <span class="holi">Holidays</span>
        <span class="ver_line"></span>
        <span>Date</span>
    </div>
    <div class="holi_body_three">
        <div class="holi">
            <div class="holi_name_date">
                <span>Republic Day</span>
                <span>Tue, 26 Jan, 2021</span>
            </div>
            <div class="down_line"></div>
        </div>
        <div class="holi">
            <div class="holi_name_date">
                <span>Republic Day</span>
                <span>Tue, 26 Jan, 2021</span>
            </div>
            <div class="down_line"></div>
        </div>
        <div class="holi">
            <div class="holi_name_date">
                <span>Republic Day</span>
                <span>Tue, 26 Jan, 2021</span>
            </div>
            <div class="down_line"></div>
        </div>
        <div class="holi">
            <div class="holi_name_date">
                <span>Republic Day</span>
                <span>Tue, 26 Jan, 2021</span>
            </div>
            <div class="down_line"></div>
        </div>
        <div class="holi">
            <div class="holi_name_date">
                <span>Republic Day</span>
                <span>Tue, 26 Jan, 2021</span>
            </div>
            <div class="down_line"></div>
        </div>
        <div class="holi">
            <div class="holi_name_date">
                <span>Republic Day</span>
                <span>Tue, 26 Jan, 2021</span>
            </div>
            <div class="down_line"></div>
        </div>
        <div class="holi">
            <div class="holi_name_date">
                <span>Republic Day</span>
                <span>Tue, 26 Jan, 2021</span>
            </div>
            <div class="down_line"></div>
        </div>
        <div class="holi">
            <div class="holi_name_date">
                <span>Republic Day</span>
                <span>Tue, 26 Jan, 2021</span>
            </div>
            <div class="down_line"></div>
        </div>
    </div>
</div>